@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,600,700,800);

/* #region Обнулення стилів*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 20rem;
    line-height: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    background-color: transparent;
}
/* #endregion */

/* #region  Стилі за замовченням*/
:root {
    --Primary-Dark-Blue-1: #142257;
    --Primary-Dark-Blue-2: #1F3584;
    --Neutural-Grey-1: #545971;
    --Neutural-Grey-3: #9EA3B5;
    --Soft-Grey: #E3E6F0;
    --Light-Grey: #F3F5F9;
    --Primary-Sky-Blue: #15B2F5;
    --Neutural-Black: #171921;
    --Neutural-White: #FFF; 
    --Pink: #FF5E5E;
}

body {
    font-family: "Plus Jakarta Sans";
    font-size: clamp(1rem, 5vw, 1.125rem);/*1 параметр - мінімальне значення, 2 параметр - надаємо йому перевагу, 3 параметр - максимальне значення*/
    color: var(--Neutural-Grey-1);
    background-color: var(--Neutural-White);
    max-width: 120rem;
    min-width: 20rem;/*320 - ширина телефону*/
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

/* Налаштування адаптиву */
[class*="__container"] {
    max-width: 90.3125rem;/*1445px - розмір меньшого контейнера*/
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin: 0 auto;
}

/* Модулі */
.block-title {
    display: grid;
    gap: 1.5rem;
}
.block-title-center {
    text-align: center;
}
.block-title-inline {
    grid-template-columns: minmax(auto, 747px) minmax(auto, 613px);
    justify-content: space-between;
    align-items: end;
}
.block-title__title {
    color: var(--Neutural-Black);
    font-size: clamp(32px, 5vw, 52px);
    font-weight: 700;
    line-height: 1.23;
}
.block-title__title-big {
    font-size: clamp(44px, 5vw, 64px);
}
.block-title__title-white {
    color: var(--Neutural-White);
}
.block-title__text {
    font-weight: 400;
    line-height: 1.56;
}

/*#endregion*/

/* #region Header*/
.header {
    background-color: var(--Primary-Dark-Blue-1);
    position: relative; 
    z-index: 6; 
}
.header__container {
    min-height: 80px;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 170px 1fr 170px;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
}
.header__logo {
}
.header__menu {
}
.menu {
    justify-self: center;
}
.menu__body {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    column-gap: 57px;
    transition: column-gap 0.7s;
}
@media (max-width: 1200px) {
    .menu__list {
    column-gap: 37px;
    }
}

@media (max-width: 991.98px) {
    .menu__list {
    column-gap: 15px;
    }
}
.menu__item {
}
.menu__link {
    font-weight: 600;
    line-height: 1.33;
    color: var(--Neutural-White);
}
.menu__link:hover {
    text-decoration: underline;
}

.header__schedule {
    justify-self: end;
    font-weight: 600;
    line-height: 1.33;
    color: var(--Neutural-White);
    /* display: flex; */
    align-items: center;
    gap: 10px;
}
.header__schedule::before {
    background-color: var(--Pink);
    content: "";
    flex-shrink: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}
#bigscreen-schedule {
    display: flex;
}
#mobile-schedule {
    display: none;
}
@media (max-width: 767.98px) {
    #bigscreen-schedule {
        display: none;
    }
    #mobile-schedule {
        display: flex;
    }
}

/*Burger*/
.menu__icon {
}
.icon-menu {
    display: none; 
    cursor: pointer;
}
@media (max-width: 767.98px) {
    .header__logo {
        position: relative;
        z-index: 10;
    }
    .header__schedule {
        display: none;
    }
    .header__container {
        min-height: 56px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 10px 24px;
    }
    .icon-menu {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 10;
    }
    .menu__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;
        position: fixed;
        top: 56px;
        right: 0;
        max-width: 320px;
        height: calc(100vh - 56px);
        overflow: auto;
        background-color: var(--Primary-Dark-Blue-1);
        padding: 32px 24px 36px 24px;
        transform: translateX(100%); 
        transition: transform 0.3s ease;
        z-index: 5;
    }
    .menu__body.active {
        transform: translateX(0);
        font-size: 18px; 
    }
    .menu__list {
        flex-direction: column;
        gap: 32px;
    }
}
.icon-menu.open img {
    content: url('/source/images/close-icon.svg'); /* Заміна іконки на хрестик */
}
.menu__body.no-transition {
    transition: none !important;
}
/*#endregion*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 19, 53, 0.5);/* Напівпрозорий чорний фон */
    opacity: 0; /* Невидимий за замовчуванням */
    visibility: hidden;
    transition: opacity 0.3s ease; /* Плавний перехід */
    z-index: 4; /* Менше, ніж у меню та хедера */
}
/* Коли меню відкрите */
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.page {
}
.main {
    background-color: var(--Primary-Dark-Blue-1);
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0 15px 60px 15px;
    min-height: 100vh;
}
.main__image {
    overflow: hidden;
}
.main__image img {
    border-radius: 24px;
    object-position: top;
}
.main__body {
}
.main__content {
}
.main__block-title {
}
.block-title {
}
.block-title-center {
}
.block-title__title {
}
.block-title__title-big {
}
.block-title__title-white {
}
.main_advantages {
}