@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,600,700,800);

/* #region Обнулення стилів*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-width: 20rem;
    line-height: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
button {
    cursor: pointer;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    background-color: transparent;
}
/* #endregion */

/* Стилі за замовченням */
:root {
    --Primary-Dark-Blue-1: #142257;
    --Primary-Dark-Blue-2: #1F3584;
    --Neutural-Grey-1: #545971;
    --Neutural-Grey-3: #9EA3B5;
    --Soft-Grey: #E3E6F0;
    --Light-Grey: #F3F5F9;
    --Primary-Sky-Blue: #15B2F5;
    --Neutural-Black: #171921;
    --Neutural-White: #FFF; 
}

body {
    font-family: "Plus Jakarta Sans";
    font-size: clamp(1rem, 1.125rem, 1.125rem);/*1 параметр - мінімальне значення, 2 параметр - надаємо йому перевагу, 3 параметр - максимальне значення*/
    color: var(--Neutural-Grey-1);
    background-color: var(--Neutural-White);
    max-width: 120rem;
    min-width: 20rem;/*320 - ширина телефону*/
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

/* Налаштування адаптиву */
[class*="__container"] {
    max-width: 100rem;/*1445px - розмір меньшого контейнера*/
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin: 0 auto;
}

/* Модулі */
.block-title {
    display: grid;
    gap: 1.5rem;
}
.block-title-center {
    text-align: center;
}
.block-title-inline {
    grid-template-columns: minmax(auto, 747px) minmax(auto, 613px);
    justify-content: space-between;
    align-items: end;
}
.block-title__title {
    color: var(--Neutural-Black);
    font-size: clamp(32px, 52px, 52px);
    font-weight: 700;
    line-height: 1.23;
}
.block-title__title-big {
    font-size: clamp(32px, 52px, 52px);
}
.block-title__title-white {
    color: var(--Neutural-White);
}
.block-title__text {
    font-weight: 400;
    line-height: 1.56;
}
